{% extends 'layout.twig' %}

{% block title %} <title>Ajouter un personnage | {{ parent() }}</title> {% endblock %}
{% block css_links %}
    <link rel="stylesheet" href="/assets/css/menu.css{{_self.commonContent()}}">
    <link rel="stylesheet" href="/assets/css/addCharacter.css{{_self.commonContent()}}">
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}" class="village_link"><img class="logo" src="/assets/img/logo/logo.png" height="80" width="80" alt="logo"></a>
            <a href="{{ path('konohaCharacters') }}" class="village_link" id="konoha">Konoha</a>
            <a href="{{ path('kumoCharacters') }}" class="village_link" id="kumo">Kumo</a>
            <a href="{{ path('sunaCharacters') }}" class="village_link" id="suna">Suna</a>
        </nav>
    </header>
    
    
    <div class="container-fluid" id="add_character">

        <h1 class="text-center">Ajouter un personnage</h1>
    {{ form_start(form,{path: 'addCharacterPost'})}}

    {{ form_end(form) }}

    </div>
{% endblock %}

