{% extends 'layout.twig' %}

{% block title %} <title> Personnages de Suna | {{ parent() }}</title> {% endblock %}
{% block css_links %}
    <link rel="stylesheet" href="/assets/css/village.css?{{_self.commonContent()}}">
    <link rel="stylesheet" href="/assets/css/menu.css?{{_self.commonContent()}}">
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}" class="village_link"><img class="logo" src="/assets/img/logo/logo.png" height="80" width="80" alt="logo"></a>
            <a href="{{ path('addCharacterGet') }}" class="village_link" id="create"><i class="fa-solid fa-plus"></i></a>
            <a href="{{ path('konohaCharacters') }}" class="village_link" id="konoha">Konoha</a>
            <a href="{{ path('kumoCharacters') }}" class="village_link" id="kumo">Kumo</a>
        </nav>
    </header>
    <div class="container-fluid">
        {% for character in characters %}
            {% for media in medias %}
                {% if character.id == media.getCharacters.id %}
                    <a href="{{ path('character',{slug:character.slug|lower}) }}" class="box">
                        <h1 class="nameCharacter">{{ character.name }}</h1>
                        <img class="imgCardPath" src="{{ media.imageCardPath }}" alt="" hidden>
                    </a>
                {% endif %}
            {% endfor %}

        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="assets/js/tieImgCardPathToCard.js"></script>
{% endblock %}