{% extends 'layout.twig' %}

{% block title %} <title>Accueil | {{ parent() }}</title> {% endblock %}
{% block css_links %}
    <link rel="stylesheet" href="/assets/css/village.css">
    <link rel="stylesheet" href="/assets/css/menu.css">
{% endblock %}

{% block content %}
    <header>
        <nav>
            <a href="{{ path('homepage') }}" class="village_link"><img class="logo" src="/assets/img/logo/logo.png" height="80" width="80" alt="logo"></a>
            <a href="#" class="village_link" id="create"><i class="fa-solid fa-plus"></i></a>
            <a href="#" class="village_link" id="kumo">Kumo</a>
            <a href="#" class="village_link" id="suna">Suna</a>
        </nav>
    </header>
    <div class="container-fluid">
        {% for character in characters %}
            <a href="{{ path('character',{slug:character.slug|lower}) }}" class="box">
                <h1 class="nameCharacter">{{ character.name }}</h1>
                <img class="imgCardPath" src="{{ character.imageCardPath }}" alt="" hidden>
            </a>
        {% endfor %}
    </div>
{% endblock %}

{% block javascript %}
    <script src="assets/js/tieImgCardPathToCard.js"></script>
{% endblock %}